NEXT_PUBLIC_SUPABASE_URL=https://dsvzrmvduwpuipfjhqwp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pa92f9rqZtF59FfyIydSrg_ejR3qMnt
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/calendar/callback
